.filter-content {
    text-align: initial;
    margin-right: 2.875rem;
}

.filter-content h5 {
    color: $color-grey-D2;
    font-size: 16px;
    font-weight: 400;
}

.filter-content h6 {
    border-bottom: solid $color-grey-N1;
    color: $color-grey-D3;
    font-size: 20px;
    font-weight: 400;
    margin: 2.25rem 0 1rem;
    padding-bottom: 1rem;
}

.filter-category {
    border-bottom: solid $color-grey-N1;
    padding-bottom: 2rem;

    p {
        font-size: 16px;
        color: $color-grey-D3;
        margin-bottom: 1.063rem;
    }

    input {
        width: 1.5rem;
        height: 1.5rem;
        border: $color-Grey-M1;
        color: $color-white;
        margin-right: 0.5rem;
        margin-bottom: 1.375rem;
    }

    label {
        vertical-align: super;
    }

    a {
        font-size: 14px;
        font-weight: 600;
    }
}

.filter-color {
    width: 3.625rem;
    height: 2.5rem;
    border-radius: 6px;
    display: inline-flex;
    margin-right: 2px;
}
.filter-gradient{
    background-color: transparent linear-gradient(180deg, #AF52FF 0%, #7950E8 16%, #4F5ADA 29%, #57CB76 43%, #EBC250 56%, #FF8810 69%, #E32F0F 83%, #BF1919 100%) 0% 0% no-repeat padding-box;
}
.color{
    border-bottom: solid $color-grey-N1;
    padding-bottom: 2rem; ;
}
.color p{
    font-size: 16px;
    color: #181C24;
    margin-bottom: 1.063rem;
}