// Colors

$color-white :#FFFFFF;
$color-grey-D2 :#172026;
$color-White-Smoke : #F3F3F3;
$color-grey-N1 : #D1D3D6;
$color-grey-D3 :#181C24;
$color-purple :#AF52FF;
$color-dark-purple :#7950E8;
$color-light-blue :#4F5ADA;
$color-light-green :#57CB76;
$color-light-orange : #EBC250;
$color-orange : #FF8810;
$color-candy-apple : #E32F0F;
$color-crimson : #BF1919;
$color-dark-orange : #EB7327; 
$color-pink :#F9009A;
$color-violet :#6408D3;
$color-marun : #E34850;
$color-primary-M1 :#336DFF;
$color-base-orange : #FDBA5E;
$color-green :#2D9D78;
$color-grey-N2 : #DFE1E2;
$color-dark-grey : #545D63;
$color-grey-D4 : #1B252C;
$color-grey-F1 : #00000033;
$color-primary-band : #1F39FF;
$color-primary-L1 : #3D84FF;
$color-Grey-L1 : #E5E5E7;
$color-pumpkin : #FF6F38;
$color-Olympic : #0073788C;
$color-Grey-M1 : #91959C;
$color-Seconadary-band : #1F39FA;
$color-Grey-L2 : #B5B7BC;
$color-carnation : #FFE2F0;
$color-grey :#767B7F;